.App{
    width: 80rem;
    background: white;
    height: 100vh
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*height: available;*/
    /*align-self: center;*/
}

.forecast-app{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.switch{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.navbar{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 2rem;
}
.navbar>img{
    width: 10rem;
    align-self: flex-start;
}
.links{
    display: flex;
    flex-direction: row;
    width: 20rem;
    justify-content: space-around;
}

