.forecast-container{
    background-color: #f0f0f0;
    width: 50%;
    /*border-radius: 1rem;*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0.5rem;

}