.img-container{
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    width: 50rem;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}
.img-container>img{
    width: 10rem;
    height: 10rem;
}
.forecast-container{
    width: 30rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
