.button-container{
    width: fit-content;
    /*background: black;*/
    padding-right: 1rem;
    padding-left: 1rem;
}
.button-container:hover{
    cursor: pointer;
    background-color: grey;
}
.checked{
    background: grey;
}
.unchecked{
    background-color: #f0f0f0;
}